.edu-container{
    width: 100%;
    background: #fff;
    padding: 5% 5% 5% 5%;
    border: 1px solid lightgrey;
}
.edu-container ul{
    margin: 0% 0% 0% 0%;
}
.edu-container h2{
    padding: 5% 5% 5% 5%;
}